body{
    background-color: #ff1a0d;
}

#encabezado {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}
nav{
    background-color: white;
    padding: 2%;
    margin-left: 10px;
    width: 300px;
}
#menu{
    display: flex;
    margin-right: 10px ;
}
#olas{
    background-image: url(imagenes/agua.jpg);
    width: 100%;
}
#ribbon {
    width: 100px;
    position: absolute;
    left: 15px;
    top: 20px;
}

#vector {
    width: 550px;
    position: relative;
    top: 4px;
    left: 730px;
}

section {
    margin-left: 10px;
    margin-right: 10px;
    padding: 2%;
    background-color: white;
}
#flechaarriba{
    width: 17px;
}
